<div class="container">
    <mat-card>
        <mat-accordion>
            <mat-expansion-panel *ngFor="let post of posts">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{ post.title }}
                    </mat-panel-title>
                    <mat-panel-description>
                        <!-- Currently I am {{panelOpenState ? 'open' : 'closed'}} -->
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p>{{ post.body }}</p>
            </mat-expansion-panel>
        </mat-accordion>
        <p *ngIf="posts.length == 0">No Posts added yet!</p>
    </mat-card>
</div>