<div class="container">
    <form (submit)="publishPost()">
        <mat-card>
            <mat-form-field class="full-width">
                <mat-label>Post Title</mat-label>
                <input matInput name="title" [(ngModel)]="title" required>
                <!-- <mat-error *ngIf="title.invalid">Invalid</mat-error> -->
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Post Content</mat-label>
                <input matInput name="content" [(ngModel)]="body" required>
                <!-- <mat-error *ngIf="content.invalid">Invalid</mat-error> -->
            </mat-form-field>
            <button mat-raised-button color="primary" class="">Add Post</button>
        </mat-card>
    </form>
</div>